@model IEnumerable<MySqlNet.Models.Produto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <h2>Cadastro de Produtos</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-sm table-bordered">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Valor</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Nome</td>
                    <td>@p.Descricao</td>
                    <td>@p.Valor</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>